
*{
  color: aliceblue;
  padding: 0;
  margin: 0;
}

/* #general{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,.5),
      rgba(0,0,0,.5)),
      url(./assets/mundo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 */
.contenedor{
  min-width: 1000px;
  min-height: 100px;
  background-color: linea;
  margin: auto;
}

#logo{
  display: flex;
  align-items: center;
  margin-left: 20px;
  transition: all 300ms;
}

#logo:hover img{
  transform: ;
}



header .contenedor{
  width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color: rgba(225, 110, 85 ); 
}

header .nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-right: 40px;
}

header .nav li {
  margin-left: 20px;
  margin-right: 20px;
 
}